body {
    background-color: #eaf6f6;
}
hr{
    background-color: white;
    border-style: dotted none none none;
    height: 5px;
    border-width: 5px;
    border-color: grey;
    width: 3%;
    background-color: #eaf6f6;
}
h3{
    color: #66BFBF;
}
h1{
    color: #66BFBF;
}